body{
    background-image: url("../static/Desktop\ Backgrounds\ Using\ Browser\ Themes\ Desktop\ Wallpapers.jpg");
    background-repeat: no-repeat;
}
table
{
 margin-top: 2%;
 background-color: white;
}
thead
{
    background-color: rgb(13, 110, 253);
    color: white;
    font-size: 92%;
}
td
{
    font-size: 80%;
}
/*
.mytable{
    margin-left: 10%;
    margin-right: 10%;
    background-color: azure;
    border: 1px solid black;
}

.datas{
    float: left;
    width: 50%;
    overflow: hidden;
}

.data-manupalitation
{
    float: left;
    width: 50%;
    height: 100%;
}
*/