body{
    background-image: url("./bg.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.orange{
    background-color: #fd7e14;
}
table
{
 margin-top: 2%;
 background-color: white;
}
thead
{
    background-color: rgb(13, 110, 253);
    color: white;
    font-size: 92%;
}
td
{
    font-size: 80%;
}